 * {
    font-family: 'Montserrat', sans-serif;
 }
 
 body {
    margin: 0 ;
    padding: 0;
    height: 100vh;
    position: absolute;
    
    width: 100%;
}

#particles-js {
    height: 100%;
    background: linear-gradient(black, #1e272e);
    position: absolute;
    width: 100%;
}  

.header {
     color: white;
    margin: 60px;
    width: 100px;
    margin-bottom: 100px;
    position: relative;
    width: 380px;
    height: 50px;
    font-size: 40px;
    margin-top: 60px;
    display: flex;
    justify-content: space-between; 
    text-decoration: none;
}

.header a {
    text-decoration: none;
    color: white;
}

.header a:hover{
color: grey;
}


h3 {
    color: white;
  
    width: 100px;  
    position: relative;
    width: 790px;
    height: 30px;
    font-size: 26px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 150px;
}

h1 {
    color: white;
    
   justify-content: center;
    position: relative;
    width: 1200px;
    height: 150px;
    font-size: 55px;
    display: flex;
     padding: 10px;
    margin: 0 auto;
    margin-top: 40px;
}

.navBar {
     padding: 40px; 
    position: relative;
    height: 50px;
    font-size: 30px;
   margin: 0 auto;
    display: flex;
    justify-content: space-between; 
    width: 1200px;
}

.navBar a {
    color: gray;
}

.navBar a:hover {
    color: white;
}





